<div class="tag_post">
    <h3><%= link_to post.title, "/#{post.url}" %></h3>
    <div class="author_meta">
        <span class="author"><span class="meta_name"><%= t('post.author') -%>:</span> <%= post.user.show_name %></span>, 
        <span class="date"><%= t('post.at') -%>: <%= post.created_at.strftime("%Y-%m-%d") -%></span>
        <span class="comment_info">
            <%= link_to t("common.comment", :count => post.comments.count), "/#{post.url}#comments" %>
        </span>
        <% if current_user %>
        <span class="edit_meta">
         | <%= link_to t('common.edit'), edit_post_path(post) %>
        </span>
        <% end %>
    </div>
    <div class="post_content">
        <%= post.short_content %>
    </div>
</div>