<div id="post_form">
    <% form_for(@post) do |f| %>
      <%= f.error_messages %>
      <p>
        <%= f.text_field :title, {:size => "50%"} %>
      </p>
      <p>
        <%= t("post.permalink") -%>: <%= root_url -%><%= f.text_field :url %>
      </p>
      <p>
        <%= f.cktext_area :content, :toolbar=>'Easy', :width => "95%", :swf_params=>{:assetable_type => 'User', :assetable_id => current_user.id} %>
      </p>
      <p>
        <%= f.label :post_tags, t("common.tag") %>: <%= f.text_field :post_tags %>
      </p>
      <p>
        <%= f.submit t("common.save") %>
      </p>
    <% end %>
</div>